{
    "mailjet": {
        "api_key_public": "",
        "api_key_private": ""
    },
    "emails": {
        "from": "example@example.com",
        "contactUs": "example@example.com,example1@example.com"
    }
}
