@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: local("Inter"), url(./fonts/Inter-Regular.woff) format("woff");
  }
  h1 {
    @apply text-2xl;
  }
  .slide-content h2 {
    @apply text-2xl font-semibold mt-6 mb-4 tracking-tightest;
  }

  .slide-content p {
    @apply text-rich-black-lightest tracking-tightest mb-3;
  }

  .slide-content p:last-child {
    @apply mt-10;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(243, 244, 246);
}

.gradient-bg {
  background: linear-gradient(
    131.04deg,
    rgba(0, 122, 255, 0.25) -30.65%,
    rgba(118, 87, 237, 0.25) 12.4%,
    rgba(0, 122, 255, 0.25) 71.98%,
    rgba(129, 188, 253, 0.25) 114.38%
  );
}

.leaflet-container {
  width: 100wh;
  height: 320px;
}

.custom-leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #3e3e48;
}

.custom-leaflet-popup .leaflet-popup-tip {
  background: #3e3e48;
}

.grayscale-filter {
  filter: grayscale(1);
}

.pagination-left {
  transform: rotate(-180deg);
}

.pagination-left,
.pagination-right {
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: white;
}

.fade-in-out-appear {
  opacity: 0;
}
.fade-in-out-enter {
  opacity: 0;
}
.fade-in-out-appear-active,
.fade-in-out-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fade-in-out-exit {
  opacity: 1;
}
.fade-in-out-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.container-half {
  width: 100%;
}

.section {
  min-height: 390px;
}

@media (min-width: 640px) {
  .container-half {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .container-half {
    max-width: 384px;
  }

  .section {
    max-height: 544px;
    height: 43vw;
  }
}

@media (min-width: 1024px) {
  .container-half {
    max-width: 512px;
  }
}

@media (min-width: 1280px) {
  .container-half {
    max-width: 640px;
  }
}

@media (min-width: 1536px) {
  .container-half {
    max-width: 778px;
  }
}
